
<!--
<div *ngFor='let a of phus' class='phu' style='left: {{a.x}}px; top: {{a.y}}px; height: {{a.size}}px; width: {{a.size}}px; background-color: {{a.color}}'>

    <div  class='phuText' style='left: {{a.size}}px'>
        {{a.name}}
    </div>
</div>
-->
<canvas id="myCanvas" style="border:1px solid #000000;">
</canvas>

<div>
    <button mat-icon-button (click)='start()' color='secondary'>
        <mat-icon>play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button (click)='stop()' color='secondary'>
        <mat-icon>stop</mat-icon>
    </button>

    <button mat-icon-button (click)='prevFrame(1)' color='secondary'>
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button mat-icon-button (click)='nextFrame(1)' color='secondary'>
        <mat-icon>skip_next</mat-icon>
    </button>

    <button mat-icon-button (click)='prevFrame()' color='secondary'>
        <mat-icon>fast_rewind</mat-icon>
    </button>
    <button mat-icon-button (click)='nextFrame()' color='secondary'>
        <mat-icon>fast_forward</mat-icon>
    </button>
</div>

<div>
    <mat-slider color='primary' value='5' min='1' max='10' [(ngModel)]='speed' (change)='stop();start()'> </mat-slider>
</div>

<br />

Y-Axis: Weekly % growth <br />
X-Axis: Weekly cases/100k <br />
Size of bubble is the number of new cases (independent of population) <br />
Colour of bubble corresponds to Ontario colour codes. Solid black is the Boxing Day province wide shutdown. Purple is the Easter province wide "shutdown".<br />
