<div class='testContainer'>
    <!-- Toolbar -->
    <mat-toolbar color='secondary' class='main-toolbar'>
        <span class="spacer"></span>
        <h1>
            Ontario Covid Dashboard
        </h1>
        <span class="spacer"></span>

        <button mat-button >
            <mat-icon class='toolbarButton'>info</mat-icon> About
        </button>
        <button mat-button >
            <mat-icon class='toolbarButton'>help</mat-icon> Help
        </button>
    </mat-toolbar>
    <nav mat-tab-nav-bar animationDuration="0ms">
        <a *ngFor='let r of routes' mat-tab-link (click)='setTab(r)' [active]='currentTab === r'>
            {{r.name}}
        </a>
    </nav>
</div>

<router-outlet></router-outlet>
